# Dependencies
/vendor/

# Environment
.env
.env.testing

# PHPUnit
.phpunit.result.cache
.phpunit.cache/

# Logs & cache
*.log
/logs/
/cache/
/storage/

.php-cs-fixer.cache

# Imágenes descargadas de TMDB
public/assets/images/posters/admin/



/public/assets/images/posters/*.jpg
/public/assets/images/posters/*.jpeg
/public/assets/images/posters/*.png
/app/
*.log
.php-cs-fixer.cache
